@import "../_settings.scss";

.Prestation-photo-main{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
}


.Prestation-photo-main-grid{
    display: grid;
    height: 100%;
    width: 100%;
    
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5px;
    border-radius: $borderRadius;
    border: $borderStyle;
    color: $color-4;
}

// .Prestation-texte-grid-1{
//     grid-column: 1 / span 1;
//     grid-row: 1 / span 2;
//     // height: 100%;
//     // width: 100%;
//     // object-fit: cover;
//     background-color: #702525;
//     border-radius: $borderRadius;
//     border: $borderStyle;
// }

.Prestation-photo-grid-2{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border: $borderStyle;
    border-radius: $borderRadius;
}

.Prestation-photo-grid-3 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: $borderRadius;
    border: $borderStyle;
}



.Prestation-photo-grid-4 {
    grid-column: 3/ span 2;
    grid-row: 1/ span 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border: $borderStyle;
    border-radius: $borderRadius;
}

.Prestation-photo-grid-5 {
    grid-column: 4 / span 1;
    grid-row: 1 span 1;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: $borderRadius;
    border: $borderStyle;
}