@import '../settings';

.Footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #998f8f9a;
}

.Footer-NavLink-block-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
    width: 15%;

}

.Footer-block-logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4vh;
    width: 100%;
    // cursor: pointer;
    // border: $borderStyle;
    // border-radius: $borderRadius;
}

.Footer-logo-icon {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;
}

.Footer-logo-name {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

// .Nav-Maybar {
//     font-family: $font-2;
// }

.Footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 60%;
    // font-family: $font-2;
}

.Footer-li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width : 5vw;
    border: $borderStyle; 
    border-radius: $borderRadius;
    font-family: $font-2;
    background-color:$color-5;
    cursor: pointer;
}

// .Footer-news{
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     width: 100%;
//     font-family: $font-2;
//     // margin: 1%;
//     // padding: 1%;
//     border: $borderStyle;
//     border-radius: $borderRadius;

// }



.Footer-div-social-fb {
    width: 40px;
    height: 40px;
    border: $borderStyle;
    border-radius: $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b5998;
}

.Footer-div-social-instagram {
    width: 40px;
    height: 40px;
    border: $borderStyle;
    border-radius: $borderRadius;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-logo-instagram
}

.Footer-social-icon-fb {
    width: 70%;
    height: 70%;
    cursor: pointer;
}

.Footer-social-icon-insta {
    width: 80%;
    height: 80%;
    cursor: pointer;
}