@import '../settings';

.Nav-main{
display: flex;
justify-content: space-between;
align-items: center;
height: 6vh;
width : 100%;
padding-left: 1%;
padding-right: 1%;
background-color: #998f8f9a;
}
.NavLink-block-logo{
display: flex;
justify-content: space-around;
align-items: center;
height: 4vh;
width : 15%;

}

.Nav-block-logo{
display: flex;
justify-content: space-around;
align-items: center;
height: 4vh;
width : 100%;
// cursor: pointer;
// border: 2px solid $color-3 ;
// border-radius: $borderRadius;
}

.Nav-logo-icon{
width: 30px;
height: 30px;
border-radius: 10px;
margin-right: 5px;
}
.Nav-logo-name{
width: 100px;
height: 30px;
border-radius: 10px;
}

.Nav-Maybar{
font-family: $font-2;
}

.Nav-ul{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
height: 10vh;
width : 60%;
font-family: $font-2;
}

// .Nav-li{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 4vh;
//     width : 10vw;
//     border: 2px solid $color-3;
//     border-radius: $borderRadius;
// }

.Nav-div-social-fb{
width: 40px;
height: 40px;
border: 2px solid $color-3;
border-radius: $borderRadius;
display: flex;
justify-content: center;
align-items: center;
background-color: #3b5998;
}

.Nav-div-social-instagram{
width: 40px;
height: 40px;
border: 2px solid $color-3;
border-radius: $borderRadius;
display: flex;
justify-content: center;
align-items: center;
background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.Nav-social-icon-fb{
width: 70%;
height: 70%;
cursor: pointer;
}

.Nav-social-icon-insta{
width: 80%;
height: 80%;
cursor: pointer;
}