@import "../_settings.scss";
// @import "_Block-photos.scss"

.News-main{
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 2%;
width: 80%;
height: 1000px;
border: 2px solid red;
border-radius: $borderRadius;
padding-top: 5px;
background:$background-maybar
}

.News-block-titre{
display: flex;
align-items: center;
flex-direction: column;
width: 100%;
height: 100px;
}

.News-h1{
display: flex;
width: 80%;
height: 50px;
align-items: center;
justify-content: center;
border: $borderStyle;
border-radius: $borderRadius;
margin-bottom: 5px;
background-color: $white;
}

.News-h1-span{
display: flex;
justify-content: center;
width: 100%;

}

.News-h1-reseau{
display: flex;
width: 90%;
align-items: center;
justify-content: center;
border: $borderStyle;
border-radius: $borderRadius;
background-color: $white;
}

.News-h1-reseau-p{
display: flex;
align-items: center;
justify-content: center;
width: 80%;
margin-left: 15%;
}

.News-block-reseau{
display: flex;
align-items: center;
justify-content: space-around;
height: 45px;
width : 20%;
}

.News-div-social-fb{
width: 40px;
height: 40px;
border: 2px solid $color-3;
border-radius: $borderRadius;
display: flex;
justify-content: center;
align-items: center;
background-color: #3b5998;
}

.News-div-social-instagram{
width: 40px;
height: 40px;
border: 2px solid $color-3;
border-radius: $borderRadius;
display: flex;
justify-content: center;
align-items: center;
background: $background-logo-instagram
}

.News-social-icon-fb{
width: 70%;
height: 70%;
cursor: pointer;
}

.News-social-icon-insta{
width: 80%;
height: 80%;
cursor: pointer;
}

.block-New-photo{
display: flex;
justify-content: center;
align-items: center;
}

.block-New-twitter{
display: flex;
justify-content: center;
align-items: center;
width: 95%;
margin-top: 5px;
}